.graph {
    border-radius: 5px;
    padding-block-start: 20px;
    padding: 10px;
    width : 33%;
    height: 80%;
    font-size: 10px;
    margin-right: 2%;
    float: right;
    overflow-y: scroll;
    position: relative;
    background-color: white;
    border-radius: 5px;
    text-align: left;
}
.danger{
    color:red;
    margin-left :auto;
    margin-right :auto;
}